<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {{>header_links}}
    </head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <!-- left side -->
            <div class="col-md-6 col-12 main_header_right">
                <figure class="m-auto">
                    <img src="img/img1.png" alt="image" class="img-fluid about-img" style="height: 300px;">
                </figure>
            </div>
             <!-- right side -->
             <div class="col-md-6 col-12 main_header_left">
                <h1>I am a 
                <span class="text_clr"> Mern Stack Devloper  </span> 
                    as well as a 
                <span class="text_clr"> Freelancer  </span>
                </h1>
                
            </div>
            
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>